{% block content %}
    <div class="container my-3">
        <form method="post" action="{% url 'join' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username">사용자 이름</label>
                <input type="text" class="form-control" name="username" id="username"
                       value="{{ form.username.value|default_if_none:'' }}">
            </div>
            <div class="mb-3">
                <label for="password1">비밀번호</label>
                <input type="password" class="form-control" name="password1" id="password1"
                       value="{{ form.password1.value|default_if_none:'' }}">
            </div>
            <p>
                <LI>영어와 숫자를 섞은 8자리 이상의 비밀번호를 입력해주세요</LI>
            </p>
            <div class="mb-3">
                <label for="password2">비밀번호 확인</label>
                <input type="password" class="form-control" name="password2" id="password2"
                       value="{{ form.password2.value|default_if_none:'' }}">
            </div>

            <button type="submit" class="btn btn-primary">sign up</button>
        </form>
    </div>
{% endblock %}